/* 탑 버튼 만들기 1 */

.iphone {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}

.iphone .overlap {

  background-position: 50% 50%;
  background-size: cover;
  height: 136px;
  left: 26px;
  position: absolute;
  top: 180px;
  width: 341px;
}

.iphone .tabler-caret-right {
  height: 24px;
  left: 314px;
  position: absolute;
  top: 60px;
  width: 24px;
}

.iphone .tabler-caret-left {
  height: 24px;
  left: 11px;
  position: absolute;
  top: 60px;
  width: 24px;
}

.iphone .text-wrapper {
  color: #000000;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 154px;
}

.iphone .tabler-circle {
  height: 36px;
  left: 341px;
  position: absolute;
  top: 749px;
  width: 37px;
}

.iphone .group {
  height: 128px;
  left: 36px;
  position: absolute;
  top: 418px;
  width: 309px;
}

.iphone .bi-arrow-left-circle {
  height: 16px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 16px;
}

.iphone .bi-arrow-right {
  height: 16px;
  left: 293px;
  position: absolute;
  top: 43px;
  width: 16px;
}

.iphone .element {
  height: 103px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 72px;
}

.iphone .img {
  height: 103px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 72px;
}

.iphone .element-2 {
  height: 103px;
  left: 213px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 72px;
}

.iphone .overlap-group-wrapper {
  height: 18px;
  left: 24px;
  position: absolute;
  top: 110px;
  width: 74px;
}

.iphone .overlap-group {
  background-color: #c5d9ec;
  border-radius: 40px;
  height: 18px;
  position: relative;
  width: 72px;
}

.iphone .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 49px;
}

.iphone .group-2 {
  height: 18px;
  left: 118px;
  position: absolute;
  top: 110px;
  width: 169px;
}

.iphone .div-wrapper {
  background-color: #c5d9ec;
  border-radius: 40px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 72px;
}

.iphone .group-3 {
  height: 18px;
  left: 95px;
  position: absolute;
  top: 0;
  width: 74px;
}

.iphone .group-4 {
  height: 128px;
  left: 41px;
  position: absolute;
  top: 621px;
  width: 309px;
}

.iphone .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 376px;
  width: 109px;
}

.iphone .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 586px;
  width: 109px;
}

.iphone .majesticons-lock-wrapper {
  background-color: #f1f1f1;
  height: 47px;
  left: 1px;
  position: absolute;
  top: 797px;
  width: 390px;
}

.iphone .majesticons-lock {
  height: 24px;
  left: 20px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.iphone .line {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 405px;
  width: 332px;
}

.iphone .line-2 {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 612px;
  width: 332px;
}

.iphone .mdi-light-menu {
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.iphone .Logo {
  height: 57px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 107px;
}

.iphone .ColorMode {
  height: 30px;
  left: 269px;
  position: absolute;
  top: 14px;
  width: 74px;
}

.iphone .pepicons-pop-sun {
  height: 26px;
  left: 43px;
  position: absolute;
  top: 2px;
  width: 26px;
}

.iphone .mingcute-search-wrapper {

  background-size: 100% 100%;
  height: 24px;
  left: 70px;
  position: absolute;
  top: 82px;
  width: 196px;
}

.iphone .mingcute-search {
  height: 24px;
  left: 162px;
  position: absolute;
  top: 0;
  width: 24px;
}
.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #eaeaea;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .scrollToTopButton:hover {
    background-color: #fff;
    transform: scale(1.1);
  }

  .back-to-top {
    font-family: "GmarketSansMedium";
  }  

/* 탑 버틈 만들기 2 
#back-to-top{
    font-family: "GmarketSansMedium";
    font-size: 1em;
    position: fixed;
    bottom: 11.7em;
    right: 2.5em;
    background-color: #eaeaea;
    box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, .25);
    color: #383838;
    border-radius: 5px;
    padding: 0.8em;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    opacity: 0;

}

#back-to-top:hover{
    font-family: "GmarketSansbold";
    background-color: #fff;
    color: #4a86ff;
    padding: 0.8em 2.5em;
}

#back-to-top.visible{
    opacity: 1;
}
*/