/* 탑 버튼 만들기 1 */

.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #eaeaea;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .scrollToTopButton:hover {
    background-color: #fff;
    transform: scale(1.1);
  }

  .back-to-top {
    font-family: "GmarketSansMedium";
  }  

/* 탑 버틈 만들기 2 
#back-to-top{
    font-family: "GmarketSansMedium";
    font-size: 1em;
    position: fixed;
    bottom: 11.7em;
    right: 2.5em;
    background-color: #eaeaea;
    box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, .25);
    color: #383838;
    border-radius: 5px;
    padding: 0.8em;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    opacity: 0;

}

#back-to-top:hover{
    font-family: "GmarketSansbold";
    background-color: #fff;
    color: #4a86ff;
    padding: 0.8em 2.5em;
}

#back-to-top.visible{
    opacity: 1;
}
*/